init.el
early-init.el
hydras.el
org
prog.org
projects

**/*~
**/*.elc
bin/**/*
etc/bookmarks.el
etc/custom.el
etc/abbrev.el
etc/private/*
etc/themes/*
etc/licenses/*.license
etc/snippets
var/*
aspell.exe*

lisp/
elpa/
!lisp/*.org
!lisp/.gitignore
