init.el
early-init.el
hydras.el
org
prog.org
projects

**/*~
**/*.elc
bin/**/*
etc/bookmarks.el
etc/custom.el
etc/abbrev.el
etc/private/*
etc/themes/*
etc/licenses/*.license
etc/snippets
etc/profile.el
var/*
aspell.exe*

elpa/*
lisp/*.el
lisp/lib/
lisp/hydras/
lisp/straight/*
!lisp/straight/versions
