init.el
quick-init.el
early-init.el
hydras.el
org
prog.org
projects

**/*~
**/*.elc
etc/bookmarks.el
etc/custom.el
etc/private/*
etc/themes/*
etc/licenses/*.license
etc/snippets
etc/profile.el
etc/+config.el
aspell.exe*
eln-cache/

elpa/*
bin/skeletor
